* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(abstract-futuristic-gaming-background-overlay-for-copy-space-metal-plate-wallpaper-for-live-streaming-monitor-display-vector.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    padding: 80px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    scroll-margin-top: 70px;
    font-size: 20px;
}

section h1 {
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 700;
}

.box {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    max-width: 1000px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 4%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 0;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin-left: 65px;
}

.navbar li a {
    font-size: 25px;
    font-weight: 500;
    color: white;
    transition: .3s;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 8px;
    transition: .3s;
    border: 2px solid white;
    display: flex;                
    align-items: center;          
    justify-content: center;      
    height: 45px;              
    line-height: normal;
    justify-content: center;
}

.navbar li a:hover {
    box-shadow: 0px 0px 10px white;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.home {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    padding: 120px 9% 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
}

.home-info {
    width: 55%;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.home-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    border: 3px solid black;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.home-info h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.home-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.home-info p {
    font-size: 20px;
    margin-bottom: 18px;
    line-height: 1.6;
    text-align: justify;
}

.home-img {
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.home-img .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-img .img-box .img-item {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .img-box .img-item img {
    width: 100%;
    height: 399px;
    object-fit: cover;
}

#Achievement .box img {
    width: 250px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 10px;
    border: 2px solid black;
}

@media (max-width: 770px) {
    .home {
        flex-direction: column;
        text-align: center;
        padding-top: 150px;
    }

    .home-info {
        width: 100%;
        text-align: center;
    }

    .home-img {
        width: 100%;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-box {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .home-img .img-box .img-item {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}

